@import 'variables';

body {
  color: #555555;
  margin: 0;
  font: 100% $primary-font, sans-serif;
}

.body__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
