@import "variables";


.input__edit_text {
  display: flex;
  min-width: 100px;
  box-sizing: border-box;
  border: $default-item-border;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 8px 8px 8px;
  margin-top: -20;
  margin-bottom: -20;
}


