.header {
  height: 67px;
  background-color: #E3E9EC;
  box-shadow: 0.2px 0.2px 40px saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media all and (max-width: 500px) {
  .header {
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
  }
}


.header__content__item {
  margin-right: 8px;
  margin-left: 8px;
}


.header__content__link {
  margin-left: 8px;
  &:before {
    content: ' | ';
  }
}


.header__content__link a {
  color: #555555;
  text-decoration: none;
}


.header__content__link > a:hover {
  text-decoration: none;
  color: orange;
}
