@import 'variables';


.header {
  height: 67px;
  background-color: $color-neutral-light;
  box-shadow: 0.2px 0.2px 40px $color-main-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media all and (max-width: 500px) {
  .header {
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
  }
}


.header__content__item {
  margin-right: 8px;
  margin-left: 8px;
}


.header__content__link {
  margin-left: 8px;

  @media all and (min-width: 500px) {
    &:before {
      content: ' | ';
    }
  }


  & a {
    color: $color-neutral-dark;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $color-main-light;
    }
  }
}
