$primary-font: Segoe UI, sans-serif;
$default-font-size: 16px;

$color-white-main: antiquewhite;
$color-white-secondary: whitesmoke;
$color-neutral-dark: #555555;
$color-neutral-light: #E3E9EC;
$color-main-light: orange;
$color-main-middle: darkorange;
$color-main-dark: orangered;
$color-main-shadow: saddlebrown;

$color-error: brown;
$color-expired: silver;
$color-warning: unquote('#d849158f');

$default-item-border: 2px solid #ccc;

$top-layer: 1;
