body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.img--assignment {
  display: flex;

}

#to-be-counted{
  list-style: decimal inside;
  display: list-item;
}

.form-inline{
  display:inline-block;
  width: 65%;
}
